<!-- ?? front -->
<div>
    <p>{{ data.translation }}</p>
</div>

<!-- ?? back -->
<div>
    <!-- ?? kanji are first, kana second -->
    <kanji-with-hiragana *ngIf="data.japanese.isComposite && data.japanese.kanjiIsFirst && data.japanese.kanji" [data]="{kanji: data.japanese.kanji, hiragana: data.pronunciation.hiraganaOnly, pronunciation: data.pronunciation.latin}"></kanji-with-hiragana>
    <p *ngIf="data.japanese.isComposite && data.japanese.kanjiIsFirst && data.japanese.kana">{{ data.japanese.kana }}</p>
    
    <!-- ?? kana are first, kanji second -->
    <p *ngIf="data.japanese.isComposite && !data.japanese.kanjiIsFirst && data.japanese.kana">{{ data.japanese.kana }}</p>
    <kanji-with-hiragana *ngIf="data.japanese.isComposite && !data.japanese.kanjiIsFirst && data.japanese.kanji" [data]="{kanji: data.japanese.kanji, hiragana: data.pronunciation.hiraganaOnly, pronunciation: data.pronunciation.latin}"></kanji-with-hiragana>

    <!-- ?? only kana are used-->
    <p *ngIf="!data.japanese.isComposite && data.japanese.kana">{{ data.japanese.kana }}</p>

    <!-- ?? pronunciation -->
    <section>
        <p class="japanese">{{ data.pronunciation.hiraganaOnly }}</p>
        <p>{{ data.pronunciation.latin }}</p>
    </section>
</div>