<button title="I got it right." (click)="onLearnerStatusUpdate(true)"><p class="material-icons">check</p></button>
<button title="I got it wrong." (click)="onLearnerStatusUpdate(false)"><p class="material-icons">close</p></button>
<button title="Reset current learing progress." (click)="onResetLearnerStatus()"><p class="material-icons">restart_alt</p></button>
<p>Success: {{ learnerSuccess }} / {{ learnerSuccess + learnerFailure }}</p>
<p>Failure: {{ learnerFailure }} / {{ learnerSuccess + learnerFailure }}</p>