// base sizes, based on 8px
$base__size--xxxs: 2px;
$base__size--xxs: 4px;
$base__size--xs: 8px;
$base__size--s: 12px;
$base__size--m: 16px;
$base__size--l: 24px;
$base__size--xl: 32px;
$base__size--xxl: 48px;
$base__size--xxxl: 64px;
