<h4>Contact</h4>
<p>Contact of the Owner&nbsp;&nbsp;|&nbsp;&nbsp;Service Provider</p>
<p>
  This website is my academic as well as business Portfolio. Therefore, neither
  this website, nor its sub pages, have any kind of commercial character
  whatsoever. Therefore, I subsequently state Name and Address of the
  Owner&nbsp;<span class="comment">[Service Provider]&nbsp;</span>— André-Pascal
  Werthwein.<sup>[§1 Abs. 4 TMG, §55 Abs. 1 RstV]</sup>
</p>

<table class="table-contact">
  <thead></thead>
  <tbody>
    <tr>
      <td><i class="material-icons">fingerprint</i></td>
      <td>André-Pascal Werthwein</td>
    </tr>
    <tr>
      <td><i class="material-icons">home</i></td>
      <td>Friedrichstraße 72,<br />76646 Bruchsal<br />Germany</td>
    </tr>
    <tr>
      <td><i class="material-icons">mail_outline</i></td>
      <td>
        <address>
          <a
            class="text-anchor"
            href="&amp;#109;&amp;#97;&amp;#105;&amp;#108;&amp;#116;&amp;#111;&amp;#58;&amp;#105;&amp;#110;&amp;#102;&amp;#111;&amp;#64;&amp;#97;&amp;#110;&amp;#100;&amp;#114;&amp;#101;&amp;#119;&amp;#101;&amp;#114;&amp;#116;&amp;#104;&amp;#119;&amp;#101;&amp;#105;&amp;#110;&amp;#46;&amp;#100;&amp;#101;"
            >info[at]<span style="display: none">fuck-the-spam-bot</span
            >andrewerthwein.de</a
          >
        </address>
      </td>
    </tr>
  </tbody>
</table>
