@import "sizes";
@import "mixins";

:host {
  display: block;
  width: $base__size--xxl;
  height: $base__size--xxl;
  border: $base__size--xxxs black solid;
  overflow: hidden;

  &:hover {
    cursor: help;
  }

  .kana__grid {
    width: $base__size--xxl;
    height: $base__size--xxl;
    display: grid;
    grid-template-columns: $base__size--l $base__size--l;
    grid-template-rows: $base__size--l $base__size--l;
    grid-gap: 0;

    .kana__grid--cell {
      width: $base__size--l;
      height: $base__size--l;

      &:first-child {
        border-right: thin black dotted;
        border-bottom: thin black dotted;
      }

      &:last-child {
        border-left: thin black dotted;
        border-top: thin black dotted;
      }
    }
  }

  .kana__syllable {
    width: $base__size--xxl;
    height: $base__size--xxl;
    margin: -$base__size--xxl 0 0 0;
    @include container__single-element--center-center;

    .japanese {
      margin: 0;
      overflow: hidden;
    }
  }
}
