<h4>Contact</h4>
<p>Contact of the Owner&nbsp;&nbsp;|&nbsp;&nbsp;Service Provider</p>
<p>
  This website is my academic as well as business Portfolio. Therefore, neither
  this website, nor its sub pages, have any kind of commercial character
  whatsoever. Therefore, I subsequently state Name and Address of the Owner<span
    class="comment"
    >[Service Provider]&nbsp;</span
  >— André-Pascal Werthwein.&nbsp;<sup>[§1 Abs. 4 TMG, §55 Abs. 1 RstV]</sup>
</p>
<table class="table-contact">
  <thead></thead>
  <tbody>
    <tr>
      <td><i class="material-icons">fingerprint</i></td>
      <td>André-Pascal Werthwein</td>
    </tr>
    <tr>
      <td><i class="material-icons">home</i></td>
      <td>Friedrichstraße 72,<br />76646 Bruchsal<br />Germany</td>
    </tr>
    <tr>
      <td><i class="material-icons">mail_outline</i></td>
      <td>
        <address>
          <a
            class="text-anchor"
            href="&amp;#109;&amp;#97;&amp;#105;&amp;#108;&amp;#116;&amp;#111;&amp;#58;&amp;#105;&amp;#110;&amp;#102;&amp;#111;&amp;#64;&amp;#97;&amp;#110;&amp;#100;&amp;#114;&amp;#101;&amp;#119;&amp;#101;&amp;#114;&amp;#116;&amp;#104;&amp;#119;&amp;#101;&amp;#105;&amp;#110;&amp;#46;&amp;#100;&amp;#101;"
            >info[at]<span style="display: none">fuck-the-spam-bot</span
            >andrewerthwein.de</a
          >
        </address>
      </td>
    </tr>
  </tbody>
</table>
<h4>The Accountability for Content</h4>
<p>Contents, Media & Information</p>
<p>
  All contents and media of this website have been created with utmost care.
  However, neither Accuracy, Completeness nor Topicality can be guaranteed.
  According to statutory provisions, the service provider&nbsp;<span
    class="comment"
    >[Owner of this Website]&nbsp;</span
  >— André-Pascal Werthwein — is responsible for the contents on this Website,
  as well as on its sub pages.&nbsp;<sup>[§ 7 Abs. 1 TMG]</sup>
</p>
<p>
  The service provider&nbsp;<span class="comment"
    >[Owner of this Website]&nbsp;</span
  >— André-Pascal Werthwein — is not obliged to monitor the transmitted or
  stored information of third parties. Concerning this matter the service
  provider&nbsp;<span class="comment">[Owner of this Website]&nbsp;</span>—
  André-Pascal Werthwein — is also not obliged to investigate circumstances
  pointing to illegal activities.&nbsp;<sup
    >[§ 7 Abs. 2 TMG, §§ 8 bis 10 TMG]</sup
  >
</p>
<p>
  The obligations to remove or block the use of information under generally
  applicable laws remain unaffected by this.&nbsp;<span class="comment"
    >[§ 7 Abs. 3 Satz 1 TMG]&nbsp;</span
  >Liability concerning this is first possible with the knowledge of the
  concrete infringements.&nbsp;<span class="highlighting"
    >With the recognition of infringements the contents in question will
    immediately be removed.</span
  >
</p>
<h4>The Accountability for Hyperlinks</h4>
<p>Hyperlinks to websites of third parties</p>
<p>
  This website, as well as its sub pages, contain hyperlinks to Websites of
  third parties. The contents of these,
  <span class="comment">[linked]&nbsp;</span>Websites can not be influenced.
  Therefore, the service provider of this website&nbsp;<span class="comment"
    >[Owner of this Website]&nbsp;</span
  >— André-Pascal Werthwein — can not be held responsible for the contents of
  these&nbsp;<span class="comment">[linked]&nbsp;</span>Websites. For the
  contents of these&nbsp;<span class="comment">[linked]&nbsp;</span>Websites, is
  always the Service Provider&nbsp;<span class="comment">[Owner]&nbsp;</span>of
  the website in question responsible. Before linking to these
  Websites&nbsp;<span class="comment">[of third parties]&nbsp;</span>, the
  websites were checked for infringements. At the time of linking to these
  websites&nbsp;<span class="comment">[of third parties]&nbsp;</span>no
  infringements whatsoever were recognizable.
</p>
<p>
  A permanent monitoring of contents of these linked Websites of third parties
  can not be reasonably expected, without any concrete indications of
  infringements.&nbsp;<span class="highlighting"
    >With the recognition of infringements the hyperlinks to Websites [of third
    parties] in question will immediately be removed.</span
  >
</p>
<h4>The Copyright</h4>
<p>The Copyright of the Owner&nbsp;&nbsp;|&nbsp;&nbsp;Service Provider</p>
<p>
  All contents and media of this Website, as well as its sub pages, created by
  the service provider of this website&nbsp;<span class="comment"
    >[Owner of this Website]&nbsp;</span
  >— André-Pascal Werthwein — are subject to German Copyright Law.&nbsp;<span
    class="hightlighting"
    >The duplication, modification, distribution and any other way of
    utilization beyond the limits of the Copyright Law need explicit
    approval.&nbsp;</span
  >Downloads and Copies of this Website are allowed only for private,
  non-commercial use.
</p>
<p>
  All the contents of this Website, as well as its sub pages, that are not
  created by the service provider of this website&nbsp;<span class="comment"
    >[Owner of this Website]&nbsp;</span
  >— André-Pascal Werthwein — respect the Copyright of third parties. These
  contents are explicitly marked as contents of third parties. Furthermore, the
  rights of co-authors are respected as well. Should you however recognize any
  infringements, please give notice.&nbsp;<span class="highlighting"
    >With the recognition of infringements the contents in question will
    immediately be removed.</span
  >
</p>
