<!-- content -->
<!-- <router-outlet></router-outlet> -->

<!-- footer -->
<!-- <legal-notices-footer></legal-notices-footer> -->
<composite-kana-card
  [data]="{
    isHiragana: false,
    rowOfKana: katakanaK,
    solution: {
      kana: 'キャ',
      pronunciation: 'kya'
    }
  }"
></composite-kana-card>

<derivative-kana-card
  [data]="{
    rowOfKana: katakanaK,
    solution: {
      kana: 'ギ',
      pronunciation: 'gi'
    }
  }"
></derivative-kana-card>

<composite-kana-with-derivative-card
  [data]="{
    isHiragana: false,
    rowOfKana: katakanaK,
    solution: {
      kana: 'ギャ',
      pronunciation: 'gya'
    }
  }"
></composite-kana-with-derivative-card>
