<p>{{ data.typeOfAdjective }}</p>
<p [title]="data.adjective.pronunciation">{{ data.adjective.kana }}</p>
<p>{{ data.adjective.translation }}</p>

<table>
    <head></head>
    <tbody>
        <tr>
            <td>Negative Present:</td>
            <td [class.answer__show]="showAnswerFor__NegativePresent">
                <p [title]="data.negativePresent.pronunciation">{{ data.negativePresent.kana}}</p>
                <p>{{ data.negativePresent.translation }}</p>
            </td>
            <td><button [title]="'Show Answer'" (click)="onShowAnswerFor__NegativePresent()"><p class="material-icons">visibility</p></button></td>
            <td><button [title]="'I got it right.'" (click)="onSuccess()" [disabled]="!showAnswerFor__NegativePresent"><p class="material-icons">check</p></button></td>
            <td><button [title]="'I got it wrong.'" (click)="onFailure()" [disabled]="!showAnswerFor__NegativePresent"><p class="material-icons">close</p></button></td>
        </tr>
        <tr>
            <td>Positive Past:</td>
            <td [class.answer__show]="showAnswerFor__PositivePast">
                <p [title]="data.positivePast.pronunciation">{{ data.positivePast.kana}}</p>
                <p>{{ data.positivePast.translation }}</p>
            </td>
            <td><button [title]="'Show Answer'" (click)="onShowAnswerFor__PositivePast()"><p class="material-icons">visibility</p></button></td>
            <td><button [title]="'I got it right.'" (click)="onSuccess()" [disabled]="!showAnswerFor__PositivePast"><p class="material-icons">check</p></button></td>
            <td><button [title]="'I got it wrong.'" (click)="onFailure()" [disabled]="!showAnswerFor__PositivePast"><p class="material-icons">close</p></button></td>
        </tr>
        <tr>
            <td>Negative Past:</td>
            <td [class.answer__show]="showAnswerFor__NegativePast">
                <p [title]="data.negativePast.pronunciation">{{ data.negativePast.kana}}</p>
                <p>{{ data.negativePast.translation }}</p>
            </td>
            <td><button [title]="'Show Answer'" (click)="onShowAnswerFor__NegativePast()"><p class="material-icons">visibility</p></button></td>
            <td><button [title]="'I got it right.'" (click)="onSuccess()" [disabled]="!showAnswerFor__NegativePast"><p class="material-icons">check</p></button></td>
            <td><button [title]="'I got it wrong.'" (click)="onFailure()" [disabled]="!showAnswerFor__NegativePast"><p class="material-icons">close</p></button></td>
        </tr>
    </tbody>
</table>