<kana-dropdown
  [data]="data.rowOfKana"
  (choice)="setKanaValue($event)"
></kana-dropdown>

<section class="operator__icon">
  <p class="material-icons">add</p>
</section>

<!-- ?? 'ya', 'yu', 'yo'  in hiragana or katakana -->
<kana-dropdown
  *ngIf="data.isHiragana"
  [data]="hiraganaY"
  (choice)="setYValue($event)"
></kana-dropdown>
<kana-dropdown
  *ngIf="!data.isHiragana"
  [data]="katakanaY"
  (choice)="setYValue($event)"
></kana-dropdown>

<section class="operator__icon">
  <p class="material-icons">east</p>
</section>

<kana [data]="data.solution"></kana>

<section class="feedback__user">
  <p *ngIf="answerGiven && userSuccess" class="material-icons">check</p>
  <p *ngIf="answerGiven && !userSuccess" class="material-icons">close</p>
</section>
